[CONFIG]
;Вывод отладочной информации в консоль
debug = False

;Интерфейс на котором будет слушать сервер, 0.0.0.0 - все, 127.0.0.1 - только для локальной машины
ServerInterface = 127.0.0.1

;Порт на котором будет слушать сервер
ServerPort = 8888

;FRport может быть вида AUTO, /dev/ttyUSB0, COM1, socket://192.168.137.111:7778
;полный список принимаемых значений
;https://pyserial.readthedocs.io/en/latest/pyserial_api.html#serial.serial_for_url
;https://pyserial.readthedocs.io/en/latest/url_handlers.html#urls
FRport = AUTO

;скорость порта ФР
FRspeed = 115200

; Кол-во символов в одной строке
LineWidth = 32

; Кол-во жирных символов в одной строке
LineWidthBold = 16
